.container {
  align-items: center;
  justify-content: center;
  margin: auto;

}

.overlay {
  position: absolute;
  background-color: rgb(0,0,0,0.5);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
}
.bgImage {
  background-image: url('https://wallpaperplay.com/walls/full/7/2/6/128991.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: -10;
}
